
body {
	font-family: "Open Sans", sans-serif;
}

/* Layout fixes */

#inputText {
    height: 130px;
}

.well {
    padding-bottom: 0;
}

/* Font Changes */

body textarea {
    font-family: "Lucida Console";
}