<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Schedule Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/bootstrap/css/bootstrap.min.Flatstrap.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet">

    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/date.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.9.6/TweenMax.min.js"></script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.0.min.js"></script>
    <script src="/static/ScheduleVisualizer.js"></script>

    <script>
        $(document).ready(function(){
          
            gstage = new Kinetic.Stage({
                container: "stageHolder",
                width: 1170,
                height: 480
            })

            sv = new ScheduleVisualizer(1170, 480)

            gstage.add(sv.surface)

            gstage.draw()

            $("#inputText").val("CompSci,CB101,11:30AM,12:30PM,mwf\n\nEconomics,CB102,12:30PM,1:30PM,th\n#These are comments and don't matter")

            $("#submitButton").click(function () {
                sv.parseInput($("#inputText").val())
            })

        });
    </script>

</head>

<body>

<div class="container">
    <div class="page-header">
        <h2>
            Schedule Visualizer
        </h2>
    </div>
    <div class="well">
        <div class="row-fluid">
            <div class="span8">
                <div class="control-group">
                    <div class="controls">
                        <textarea id="inputText" class="span12"></textarea>
                    </div>
                </div>
            </div>
            <div class="span4">
                <p>
                    Enter your class schedule with the format dictated by the example, and press submit!
                </p>
                <a id="submitButton" class="btn btn-large">Submit</a>
            </div>
        </div>
    </div>
    
    <div id="stageHolder">
    </div>
</div>

</body>

</html>